.img {
  width: 150px;
}

.col {
  padding: 5px 15px;
  text-align: center;
  height: 150px !important;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.favoriteIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.price {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
