.bodyWrap {
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

}

.main {
  padding-top: 70px;
  height: 100%;
}

.title {
  color: #282c34;
  text-align: center;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.themeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.themeIcon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}