.wrap {
  width: 400px;
  padding: 50px 20px;
  color: #ffffff;
  background: #282c34;
  height: auto;
}

.form {
  position: -webkit-sticky;
  position:sticky;
  top: 120px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:not(:last-child){
    margin-bottom: 15px;
  }
  &:focus-within .label{
    color: #A6CE39;
  }
}

.error {
  margin-top: 0;
  margin-bottom: 0;
  color: red;
}

.hint {
  color: #f1f3f5;
  font-size: 12px;
}

.input {
  border-radius: 5px;
  padding: 10px 20px;
  &:focus-visible{
    outline: #A6CE39 solid ;
    outline-offset: -2px;
  }
}

.button {
  padding: 15px 25px;
  font-size: 15px;
  border: none;
  border-radius: 5px;

  &:hover {
    background: #A6CE39;
    color: #ffffff;
  }
}